body {
    margin: 0;
    padding: 0;
}

#navigation {
    width: 100%;
    height: 80px;
    position: sticky;
    background-color: firebrick;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
}

#logo {
    font-size: 30px;
    margin-left: 10px;
}

#navitems {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
}

ul a {
    padding: 15px;
    text-decoration: none;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

ul a:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 10px;
}

#wrapper {
    display: flex;
    justify-content: space-around;
}

.container {
    position: absolute;
    top: 20%;
    height: 650px;
    overflow: scroll;
    width: 422px;
}

.food {
    left: 14.5%;
}

.drinks {
    right: 14.5%;
}

.card {
    width: 400px;
    height: 500px;
    border: 2px solid forestgreen;
}

.imageplace {
    height: 350px;
    background-color: black;
    background-size: cover;
    width: 100%;
}

.info {
    display: flex;
    align-items: center;
    height: 150px;
}

.info ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info li:first-child {
    font-size: 30px;
}

.info li:last-child {
    font-size: 25px;
}